body{
    font-size: 50px;
}

/*==========================================================
    Verdeling sections
==========================================================*/

.section-mid{
    flex: 2;
    background: var(--primary-color-section);
}
.section-recipe{
    flex: 2;
    background: var(--primary-color-section);
}

/*==========================================================
    Uitlijnen vragen
==========================================================*/

.box-question{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
button{
    margin: 20px;
    padding: 10px;
    font-size: 30px;
}

.container-sections{
    background-position: center;
    background-size: cover;
    background-image: url("./assets/emotieslijs-video-1536x854.jpg");
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 350px;
    padding-bottom: 0px;
    text-align: center;
}

/*==========================================================
    Responsive
==========================================================*/
@media(max-width: 2300px) {

    .article-list-elements {
        padding: 10px;
        margin: 20px;
        display: flex;
        height: unset;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .container-sections, .container-section-one,.container-sections-two {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .box-category,.box-1{
        width: 400px;
        padding: 20px;
        margin:  10px;
        background: var(--primary-color-text-block);
    }
    img{
        width: 400px;
    }
}
